<div class="centered gradient">
	<div class="vcenter">
		<!-- <h1> Welcome to the Age of Aquarius </h1> 
		<canvas id="stars"></canvas>
		-->
		<h1>Tom Yang</h1>
		<p> <a href="/software">Software</a> | <a>Fitness</a> | <a>Exploration</a></p>

	</div>
</div>







