<h5> Hello! </h5>

<h5> The time is now <%= Time.now %></h5>

<h4> Please Fasten Your Seat Belt </h4>

<h3> And leave everything behind because... </h3>

<h2> We're headed to the galaxy of dreams </h2>

<h1> Welcome to the Age of Aquarius </h1>

<p> consciousness | technology | garden of eden </p>