


<div class="centered">

	<canvas id="stars"></canvas>

	<canvas id="myCanvas" resize></canvas>

	<div class="last">
		<!-- <h1> Welcome to the Age of Aquarius </h1> -->

		

		<p> Consciousness | Technology | Garden of Eden </p>
	</div>

	
</div>







