<div class="centered">
	 
	<canvas id="stars"></canvas>
	
	<div class="last">
		<!-- <h1> Welcome to the Age of Aquarius </h1> 
		-->
		<h1>Tom Yang</h1>
		<p> Technology | Garden of Eden | Consciousness </p>
	</div>
</div>







