<div class="centered gradient">
	<div class="vcenter">
		<!-- <h1> Welcome to the Age of Aquarius </h1> 
		<canvas id="stars"></canvas>


		Style
		Archetype
		Precision in the Chaos


		-->
		<h1>Tom Yang</h1>
		<p> <a href="/software">Software</a> | <a href="https://www.youtube.com/channel/UCEA46xp6q3SKejWGORGmC4g">Exploration</a> | <a href="https://www.instagram.com/tomlyang/">Stories</a> </p>

	</div>
</div>







