.gradient{
	background:linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
	height:100vh;
	color:white;
	cursor:auto;
}

.gradient h1{
	margin-top:0px;
	font-size:3em;
}
.gradient p{
	cursor:pointer;
	color:white;
}

.vcenter{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin:0;
  padding:0;
}

.vcenter a{
	color:white;
	font-size:1em;
}

.vcenter a:visited{
	color:white;
	text-decoration:none;
}

.vcenter a:hover{
	background:none;
	text-decoration:underline;
	color:white;
}

.gridhere{
	background:none;
	position:absolute;
}

.outerlayer{
	position:relative;
	width:80%;
	margin:20px auto;
	background:none !important;
	border:1px solid black;
}

.overridesoft{
	position:absolute !important;
	width: 100%;
	height: 500px;
	background:none !important;
}

.bloqs{
	width:100% !important;
}

.bloqs a:hover{
	background:none;
}
.bloqs a:visited{
	background:none;
}

.portf{
	width:100%;
	height:100px;
}

.softwareportf{
	filter:grayscale(60%);
}

a:visited{
	text-decoration:none;
}